<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="#">Bienvenido al blog de Hamel</a></h1>
    </div>

    {% for publicacion in publicaciones %}
        <div>
            <h2>{{ publicacion.titulo }}</h2>
            <p>{{ publicacion.texto|linebreaksbr }}</p> 
            <p>Fecha publicacion: {{ publicacion.fecha_publicacion }}</p>
            <p>Autor: {{ publicacion.autor }}</p>
        </div>
    {% endfor %}    
</body>
</html>
